
<!-- a 10 sentence description about this application, that it can translate and get synonyms for words in different languages. Please use formatting, make the text interesting and easy to read -->
<!-- use material design as well -->


<!-- <!-- Short material text with welcomming monologue -->


<mat-card>
    <mat-card-content>
      <p class="welcome-text">Welcome to the dictionary. Here you can find synonyms and translate words.</p>
  
      <p>
        Our dictionary is a powerful tool that can help you to find synonyms and translate words in different languages.
        You can use it to improve your vocabulary, learn new words, and communicate more effectively. Whether you are a
        student, a professional, or just someone who loves languages, our dictionary has something for everyone.
      </p>
  
      <p>
        With our dictionary, you can easily look up the meaning of words, find synonyms, and translate text from one
        language to another. You can search for words in English, Spanish, French, German, Italian, and many other
        languages. Our dictionary is constantly updated with new words and translations, so you can always find the
        information you need.
      </p>
  
      <p>
        Our dictionary is easy to use and navigate, so you can quickly find the information you are looking for. You can
        search for words by typing them into the search bar, or you can browse through our list of words and translations.
        You can also save your favorite words and translations for easy access later on.
      </p>
  
      <p>
        Our dictionary is a great tool for students who are learning a new language, professionals who need to communicate
        with clients or colleagues in different languages, and anyone who loves languages and wants to expand their
        vocabulary. With our dictionary, you can learn new words, improve your language skills, and communicate more
        effectively with people from around the world.
      </p>
  
      <p>
        So whether you are looking for synonyms, translations, or just want to learn new words, our dictionary has
        everything you need. Start exploring our dictionary today and discover the power of words!
      </p>
    </mat-card-content>
  </mat-card>